/* Home  */

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 4rem;
}
#home .home-text {
  width: 50%;
}
#home .home-text h2 {
  font-size: 4.5rem;
  color: var(--h-clr);
}
#home .home-text p {
  margin: 1.6rem 0;
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--p-clr);
}
#home .home-text button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--h-clr);
  background: var(--main-gradient);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#home .home-img {
  width: 50%;
}
#home .home-img img {
  width: 100%;
}

@media (max-width: 992px) {
  #home .home-img {
    display: none;
  }
  #home .home-text {
    width: 100%;
  }
}
