@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-background-clr);
}

/* dark/light mode color */

body#light {
  --main-background-clr: white;
  --sec-background-clr: #323842;
  --card-clr: #dbdbdb;
  --search-input-clr: #dbdbdb;
  --h-clr: black;
  --p-clr: #333;
  --icons-clr: #c0c2c3;
  --icons-hover-clr: #ffffff;
  --main-gradient: linear-gradient(to right, #0075ff, #00ff85);
}

body#dark {
  --main-background-clr: #12181b;
  --sec-background-clr: #323842;
  --card-clr: var(--sec-background-clr);
  --search-input-clr: var(--sec-background-clr);
  --h-clr: white;
  --p-clr: #a5becd;
  --icons-clr: #c0c2c3;
  --icons-hover-clr: #ffffff;
  --main-gradient: linear-gradient(to right, #fa8142, #ff4088);
}

/* Global Rules  */
.container {
  margin: 0 auto;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {
  min-height: 100vh;
  margin-left: 4.5rem;
  padding: 2rem;
  background-color: var(--main-background-clr);
  transition: 200ms;
}
@media (max-width: 992px) {
  section {
    margin-left: 0;
  }
}
ul {
  list-style: none;
}
span {
  display: block;
}
a {
  display: block;
}
button {
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: var(--h-clr);
}
i {
  color: var(--icons-clr);
}
h2.main-title {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  margin: 3rem 0 2rem;
}
@media (max-width: 1100px) {
  h2.main-title {
    margin: 5rem 0 2rem;
  }
}
p {
  color: var(--p-clr);
  font-size: 1.6rem;
}
p.description {
  text-align: center;
  font-size: 1.8rem;
}

/* nav-bar  */

#nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1.4rem 0;
  left: 0;
  top: 0;
  background-color: var(--sec-background-clr);
  z-index: 10;
}

#nav-bar .btn {
  position: relative;
  padding: 0.8rem;
  color: var(--icons-clr);
  transition: 200ms;
  cursor: pointer;
  transition: 200ms;
}

#nav-bar .btn:hover {
  color: var(--icons-hover-clr);
}

#nav-bar .btn > span {
  position: absolute;
  padding: 0.6rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  right: -12px;
  top: 50%;
  transform: translate(100%, -50%);
  transition: 200ms;
  color: var(--icons-hover-clr);
  background-color: var(--sec-background-clr);
  opacity: 0;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}

#nav-bar .btn:hover span {
  opacity: 1;
}

#nav-bar .profile i {
  font-size: 3rem;
}
#nav-bar .sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-bar .sections i {
  margin-bottom: 4rem;
  font-size: 2rem;
}
#nav-bar .sections i.ac {
  color: transparent;
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}
#nav-bar .dark-light {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
}
#nav-bar .dark-light > i {
  position: absolute;
  font-size: 1.8rem;
  color: var(--icons-clr);
  transition: 200ms;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body#dark .dark-light .moon {
  opacity: 0;
}

body#light .dark-light .sun {
  opacity: 0;
}

@media (max-width: 992px) {
  #nav-bar {
    flex-direction: row;
    width: 100%;
    max-height: 4.5rem;
    padding: 0 1.4rem;
  }
  #nav-bar .sections {
    flex-direction: row;
  }
  #nav-bar .sections i {
    margin: 0;
    margin-left: 1rem;
  }
  #nav-bar .dark-light {
    display: block;
    position: relative;
    width: fit-content;
    width: -mox-fit-content;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
  }
  #nav-bar .btn > span {
    display: none;
  }
}
